extends layout 
 
block content 

    div.return-link-wrapper
        a(href="/" class="return-link") Return Home

        if(update_bool) 
            a(href="/" class="return-link") Return to category page.

    h1 Create a new category!

    form(method='POST' action='' class="form-default")

        div.form-group
            label(for='name' class="form-label") Category Name:
            input#name.form-control(type='text', name='name' value=persistant_data ? persistant_data.name : '')
            
        div.form-group
            label(for='description' class="form-label") Category Description: 
            textarea#description(name="description", cols="30", rows="10" value='') 
        
        div.form-group
            button(type='submit' class="form-button") Submit


    if errors 
        ul 
            for error in errors 
                li!=error.msg