extends layout 
 
block content 

    div(class="categories-nav")
        h1 Product Categories:

        div(class="category-crud-btns")
            a(href="/category/add_category" class="btn-wrapper")
                img(src="/images/add.png"  alt="update" class="img-btn")
                span(class="tooltiptext") Add a new category.
            

    ul
        each category in list_categories
            dt
                a(href=category.url) #{category.name}
                p=category.description

        else 
            p there are no categories.