extends layout 
 
block content 

    div(class="categories-nav")
        h1 Product Categories:

        div(class="category-crud-btns")
            a(href="/category/add_category" class="btn-wrapper")
                img(src="/images/add.png"  alt="update" class="img-btn")
                span(class="tooltiptext") Add a new category.
            

    div.content-wrapper

        ul.category-wrapper

            each category in list_categories

                dt.category-unit
                    div.category-unit-left
                        h4 Category: #{category.name}
                        p Description: #{category.description}

                    div.category-unit-right 
                        a(href=category.url class="view-link") View Category

            else 
                p there are no categories.