extends layout 
 
block content 
    div.return-link-wrapper
        a(href="/" class="return-link") Return Home
        a(href="/product/" + url class="return-link") Return to product page.

    h1= title 
    
    form(action="", method="post" class="form-default") 

        div.form-group
            label(for='password' class="form-label") Enter password:
            input#password.form-control(type='password', name='password' value='')

        button(type="submit" class="delete-button") Delete Product.
    
    if error_message 
        p=error_message