extends layout 
 
block content 
    div.return-link-wrapper
        a(href="/" class="return-link") Return Home
        a(href="/product/" + url class="return-link") Return to product page.

    h1= title 
    
    form(action="", method="post" class="delete-form") 
        button(type="submit" class="delete-button") Delete Product.