extends layout 
 
block content 

    div.return-link-wrapper
        a(href="/" class="return-link") Return Home
        a(href=return_url class="return-link") Return to #{category_name} Page.


    form(method='POST' action='' class="form-default")
        
        div.form-group
            label(for='name' class="form-label") Category Name:   
            input#name.form-control(type='text', name='name' value = persistant_data ? persistant_data.name : category_name)
            
        div.form-group
            label(for='description' class="form-label") Category Description:         
            textarea#description(name="description", cols="30", rows="10" value='')= persistant_data ? persistant_data.description : category_description

        div.form-group
            label(for='password' class="form-label") Enter password:
            input#password.form-control(type='password', name='password' value='')

        div.form-group
            button(type='submit') Submit 

    if errors 
        ul 
            for error in errors 
                li!=error.msg