/* Search || to jump to different sections of the stylesheet. */

/* ||--------------  Imports, fonts, custom variables ------------  */

@import url("reset.css");

@font-face {
  font-family: headerFont;
  src: url("../fonts/Teko-Regular.ttf");
}

:root {
  --primary-dark-teal: #629593;
  --primary-light-teal: #aac3c3;
  --primary-blue: #97cbcf;
  --primary-grey: #8f9a9f;
  --primary-white: #fbfbfb;
}

/* || ------------------------- Page Styling ------------------------- */

html, body {
  width: 100%;
  height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--primary-dark-teal);
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 25px 0px 25px 0px;
}

/* || ------------------------ Header Styling ------------------------ */

.page-header {
  font-family: headerFont;
  font-size: 24px;
  width: 90%;
  border-bottom: 3px solid black;
  margin-bottom: 25px;
  padding: 0px 25px 0px 25px;
}

.page-header h1 {
  padding: 0px;
  margin: 5px 0px 5px 0px;
}

.categories-nav {
  width: 90%;
  background-color: var(--primary-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px 10px 25px;
}

.btn-wrapper {
  margin: 0px 15px 0px 15px;
  height: 50px;
  height: 50px;
  position: relative;
  display: inline-block;
}

.img-btn {
  height: 50px;
  height: 50px;
}

/* ||  -------- Button hover, tooltip, nav-links styling.  -------- */

.tooltiptext {
  visibility: hidden;
  width: 60px;

  background-color: black;
  color: white;

  border-radius: 6px;
  padding: 5px 5px;
  
  position: absolute;
  z-index: 1;

  top: -5px;
  right: 125%;

  opacity: 0;
  transition: opacity 2s;
}

.btn-wrapper:hover .tooltiptext {
  transform: scale(1.1);
  visibility: visible;
  opacity: 1;
} 

.return-link-wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 15px;
}

.return-link {
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  color: whitesmoke;
  background-color: grey;
  padding: 10px;
  margin: 5px;
}

.return-link:hover {
  background-color: darkgray;
}


/*  ------------------------ Content styling ------------------------ */
.content-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  width: 90%;
}

.category-wrapper {
  width: 100%;
}

.category-unit {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-grey);
  margin-bottom: 25px;
  padding: 5px;
}

.category-unit-left {
  margin-left: 25px;
}

.category-unit-right {
  margin-right: 25px;
}

.view-link {
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  color: black;
  background-color: var(--primary-blue);
  padding: 10px;
  margin: 5px;
}

.view-link:hover {
  background-color: var(--primary-dark-teal);
  color: white;
}

/*  ------------------------ Form styling  ------------------------ */
.form-default {
  display: flex;
  flex-direction: column;
  width: 35%;

  padding: 25px;
  margin-top: 25px;
  border-radius: 25px;

  color: white;
  background-color: var(--primary-grey);
}

.form-group {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 10px;
}

.form-label {
  font-size: 18px;
  margin-bottom: 5px;
}

.form-button {
  width: 25%;
  padding: 5px;
}

.delete_form {
  margin-top: 25px;
}

.delete-button {
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  color: whitesmoke;
  background-color: grey;
  padding: 10px;
  margin: 5px;
  border-style: none;
}

.delete-button:hover {
  background-color: darkgray;
}

/* || Table styling */

.products-table {
  margin-top: 25px;
  text-align: center;
  border-collapse: collapse;
}

.products-table td,
.products-table th {
  border: 1px solid white;
  padding: 8px;
}

.products-table th {
  padding: 20px 0px 12px 0px;
  background-color: var(--primary-blue);
  border: 5px sold #ddd;
}

/*  ------------------------ Footer styling  ------------------------ */

.page-footer {
  display: flex;
  justify-content: center;
  position: absolute;

  bottom: 0;
  width: 90%;
  background-color: var(--primary-blue);
  flex-shrink: 0;
}